{% extends "layout.twig" %}

{% set title = ruseng('Модель СГБМ', ' Model of CBSS') %}

{% block content %}
    <h1>{{ title }}</h1>

{#    {% if lang == 'en' %}#}
{#    {% elseif lang == 'ru' %}#}
    <p>Российско-Скандинавский молодёжный Форум «Северный Диалог» впервые в мире
    организовывает Модель Совета государств Балтийского моря.</p>

    <p>Совет государств Балтийского моря был учрежден 5-6 марта 1992 г. в Копенгагене
    на конференции министров иностранных дел стран Балтийского моря. В него вошли
    Германия, Дания, Латвия, Литва, Норвегия, Польша, Россия, Финляндия, Швеция, Эстония,
    а также Европейская комиссия.</p>

    <p>На данный момент, постоянными членами Совета являются Дания, Эстония, Финляндия,
    Германия, Исландия, Латвия, Литва, Норвегия, Польша, Россия и Швеция.</p>

    <p>В качестве наблюдателей выступают Беларусь, Венгрия, Франция, Италия, Нидерланды,
    Румыния, Словакия, Испания, Украина, Великобритания и США.</p>

    <p>В рамках первой Модели СГБМ будет моделироваться работа двух комитетов:</p>

    <ul>
        <li>Совета глав государств (повестка: Safety and Secure Region)</li>
        <li>Совета министров иностранных дел (повестка: Sustainable Development)</li>
    </ul>

    <p>Повестки дня соответствуют двум актуальным повесткам СГБМ на 2018-2019 годы.</p>

    <p>В каждом из комитетов будет по 22 делегата, 11 из которых представляют
    государства-наблюдатели (observer states). Особенность наблюдателей заключается
    в том, что у них есть право выступать и высказывать своё мнение, но нет права
    голоса или процедурного вотума.</p>

    <p>Рабочий язык сессий — английский.</p>

    <p>Важную роль при распределении стран между участниками играет не только уровень
    владения английским языком, но и эссе на тему "How to built the Baltic identity?".</p>
{#    {% endif %}#}
{% endblock %}