{% extends "layout.twig" %}

{% set title = ruseng('Контакты', 'Contacts') %}

{% block content %}

    <h1>{{ title }}</h1>

    ...

    {#<p>- Телефон</p>#}
    {#<p>- Почта</p>#}
    {#<p>- Соц. Сети</p>#}
    {#<p>- Адрес мгимо + карта</p>#}

{% endblock %}