{% extends "layout.twig" %}

{% set title = ruseng('Оргкомитет', 'Organizing Committee') %}

{% block content %}
    <h1>{{ ruseng('Оргкомитет', 'Organizing Committee') }}</h1>

    {% if lang == 'en' %}
        ...
    {% elseif lang == 'ru' %}
        ...
    {% endif %}


{% endblock %}