{% extends "layout.twig" %}

{% set title = dict('Participation') %}

{% block content %}
    {% if lang == 'en' %}
        <p>«Northern Dialogue» includes two formats of participation:</p>

        <ul>
            <li>participant</li>
            <li>Guest</li>
        </ul>

        <p>The «participant» format means active participation in all events of the main and social programme of the Forum, including the Youth Day. All participants will receive Certificates of participation at the end of the Forum.</p>

        <p>The «guest» format means participation in the main programme as a listener only (Certificate of participation is not given).</p>


        <a href="{{ dict('registration-form-url') }}" target="_blank">
            <span class="welcome-message__registration-button">
                {{ dict('Join the Forum') }}
            </span>
        </a>

        <p>Participation in the Forum is <b>free</b>. All travelling expenses, accommodation and catering costs are covered <b>by the participants</b>.</p>

        <p><i>Visa assistance for international participants</i></p>

        <p>Besides organizing the Forum itself, we are interested in ensuring your comfortable travel to «Northern Dialogue». Therefore, we are actively working to assist our foreign participants in obtaining a visa to Russia. Our support consists in providing you with a telex number, which makes receiving a visa significantly easier compared to the standard procedure, but it does not free you from the responsibility of finding out the details of applying for the Russian visa in your country.</p>

        <p><i>Предложения по авиабилетам, проживанию и питанию</i></p>
    {% elseif lang == 'ru' %}
        <p>В рамках «Северного диалога» предусмотрено 2 формата участия:</p>

        <ul>
            <li>участник</li>
            <li>слушатель</li>
        </ul>

        <p>Формат «участник» предполагает активное участие во всех мероприятиях основной и культурной программы форума, включая Молодежный день. Все участники по окончании форума получат сертификаты об участии.</p>

        <p>Формат «слушатель» предполагает только участие в основной программе в качестве слушателя (сертификат об участии не выдается).</p>


        <a href="{{ dict('registration-form-url') }}" target="_blank">
            <span class="welcome-message__registration-button">
                {{ dict('Join the Forum') }}
            </span>
        </a>

        <p>Участие в форуме <b>бесплатное</b>. Все транспортные расходы, а также расходы на проживание и питание оплачиваются участниками <b>самостоятельно</b>.</p>

        <p><i>Визовая информация</i></p>

        <p><i>Предложения по авиабилетам, проживанию и питанию</i></p>
    {% endif %}
{% endblock %}