{% extends "layout.twig" %}

{% set title = dict('Partnership') %}

{% block content %}
    {% if lang == 'en' %}
        <p>Like any major event our Forum needs your support:</p>

        <ul>
            <li>information support</li>
            <li>financial support</li>
            <li>promotional campaign</li>
        </ul>

        <p>The privileges of our partners:</p>

        <ul>
            <li>Advertising of your company - Brief information about the partners is published on a separate page of our website. Moreover, we publish introductory articles on your company on our social networks (Facebook, Instagram, Vkontakte).</li>
            <li>Marketing distribution of your product - we provide the participants and the lecturers with memorable gifts.</li>
            <li>Long-term cooperation - an opportunity to establish direct contacts with representatives of government authorities and private enterprises.</li>
            <li>Supporting our Forum you contribute to the development of Russian-Nordic relations through youth policy.</li>
        </ul>

        <p>Our partners:</p>

        <ul>
            <li>MGIMO University</li>
            <li>MGIMO Endowment Foundation</li>
            <li>Finland Embassy in Russia</li>
            <li>Iceland Embassy in Russia</li>
            <li>Nonprofit Partnership «ODRI»</li>
        </ul>

        <p>For more detailed information please contact us by email with the subject Cooperation: <a href="mailto:northerndialogue@mail.ru?subject={{ dict('Partnership') }}">northerndialogue@mail.ru</a></p>

        <p>Contact — <b>Angelina Arkhipova</b></p>
    {% elseif lang == 'ru' %}
        <p>Как и любому масштабному мероприятию, нашему форму необходима ваша поддержка:</p>

        <ul>
            <li>информационная поддержка</li>
            <li>финансовая поддержка</li>
            <li>совместные промо-акции</li>
        </ul>

        <p>Какие привелегии доступны нашим партнерам:</p>

        <ul>
            <li>Реклама вашей компании - все партнеры размещаются в отдельной вкладке на сайте с краткой информацией о компании, плюс публикация ознакомительных постов о вас в социальных сетях форума (Facebook, Instagram, VK).</li>
            <li>Маркетинговое продвижение вашей продукции - на Форуме предусмотрены памятные сувениры и подарки для спикеров и участников.</li>
            <li>Долгосрочное партнёрство - возможность наладить деловые связи с представителями как государственной власти, так и частных компаний.</li>
            <li>Поддерживая наш Форум, вы вносите реальный вклад в развитие российско-скандинавских отношений посредством молодёжной политики.</li>
        </ul>

        <p>Нашими партнерами уже стали:</p>

        <ul>
            <li>МГИМО (У) МИД РФ</li>
            <li>Эндаумент МГИМО</li>
            <li>Посольство Финляндии в Российской Федерации</li>
            <li>Посольство Исландии в Российской Федерации</li>
            <li>Некоммерческое партнёрство «ОДРИ» — Общество дружбы Россия-Исландия</li>
        </ul>

        <p>За более подробной информацией пишите нам на почту с темой «Партнёрство»: <a href="mailto:northerndialogue@mail.ru?subject={{ dict('Partnership') }}">northerndialogue@mail.ru</a></p>

        <p>Контактное лицо — <b>Ангелина Архипова</b></p>

        {#Или заполните форму, представленную ниже:#}
    {% endif %}
{% endblock %}