{% extends "layout.twig" %}

{% set title = ruseng('Программа', 'Programme') %}

{% block content %}
    <h1>{{ title }}</h1>

    <div>{{ ruseng('Основная программа', 'Main programme') }}</div>
    <div>{{ ruseng('Культурная программа', 'Social programme') }}</div>

    {% if lang == 'en' %}
        ...
    {% elseif lang == 'ru' %}
        ...
    {% endif %}
{% endblock %}