{% extends "layout.twig" %}

{% block content %}
    <div class="wide-photo"></div>

    <div class="welcome-message">
        <span class="welcome-message__title">
            {{ dict('Welcome to the Forum') }}
        </span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>

    <div class="news">
        <div class="news__title">{{ dict('Latest news') }}</div>

        {% for i in 1..3 %}
            <div class="news-item" data-time="Jan 18th">
                <div class="news-item__title">
                    Join the Forum — registration is open
                </div>

                <div class="news-item__content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}